In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import metrics

In [2]:
data = pd.read_csv("datasets.csv")

In [3]:
data.head()

,Gender,financial_issues,family_issues,study_hours,health_issues,friends_issues,friends_time,overload,unpleasant,academic,career,criticism,conflicts,stress_level
0,Male,None,Parental Expectations,0,Sinus or Migraine or Headaches,Comparison between them,3,No,No,Yes,No,No,No,Acute Stress
1,Male,Repay Loan Issues;Deadline of Fee payment,Parental Expectations,1,Low Energy,Comparison between them,1,Yes,Yes,Yes,No,No,No,Acute Stress
2,Male,Payment for Hostel,Parental Expectations,4,Low Energy,Mistrust,6,No,No,No,No,No,Yes,Acute Stress
3,Male,Repay Loan Issues,Parental Expectations;Poor Communication and m...,1,Low Energy;Anxiety or Tension;Concentration Pr...,Jealousy;Mistrust,6,Yes,Yes,Yes,Yes,No,Yes,Acute Stress
4,Female,Deadline of Fee payment,Parental Expectations;Being bullied by siblings,3,Covid;Low Energy;Anxiety or Tension;Lonliness;...,Comparison between them,9,No,No,Yes,Yes,Yes,Yes,Acute Stress

In [4]:
def features_to_points(col_data):
    for i,text in enumerate(col_data):
        splitted_text = text.split(';')
        if "None" in splitted_text:
            col_data[i] = 0
        else:
            col_data[i] = len(splitted_text)
features_to_points(data['friends_issues'])
features_to_points(data['family_issues'])
features_to_points(data['financial_issues'])
features_to_points(data['health_issues'])

/tmp/ipykernel_27204/3815113261.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  col_data[i] = len(splitted_text)
/tmp/ipykernel_27204/3815113261.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  col_data[i] = 0

In [5]:
data.head()

,Gender,financial_issues,family_issues,study_hours,health_issues,friends_issues,friends_time,overload,unpleasant,academic,career,criticism,conflicts,stress_level
0,Male,0,1,0,1,1,3,No,No,Yes,No,No,No,Acute Stress
1,Male,2,1,1,1,1,1,Yes,Yes,Yes,No,No,No,Acute Stress
2,Male,1,1,4,1,1,6,No,No,No,No,No,Yes,Acute Stress
3,Male,1,2,1,3,2,6,Yes,Yes,Yes,Yes,No,Yes,Acute Stress
4,Female,1,2,3,5,1,9,No,No,Yes,Yes,Yes,Yes,Acute Stress

In [6]:
def one_or_zero(col_data):
    for i,text in enumerate(col_data):
        if (text == 'Male') or (text=='Yes'):
            col_data[i] = 1
        else:
            col_data[i] = 0
one_or_zero(data['Gender'])
one_or_zero(data['overload'])
one_or_zero(data['unpleasant'])
one_or_zero(data['academic'])
one_or_zero(data['career'])
one_or_zero(data['criticism'])
one_or_zero(data['conflicts'])

/tmp/ipykernel_27204/2965809888.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  col_data[i] = 1
/tmp/ipykernel_27204/2965809888.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  col_data[i] = 0

In [7]:
data.head()

,Gender,financial_issues,family_issues,study_hours,health_issues,friends_issues,friends_time,overload,unpleasant,academic,career,criticism,conflicts,stress_level
0,1,0,1,0,1,1,3,0,0,1,0,0,0,Acute Stress
1,1,2,1,1,1,1,1,1,1,1,0,0,0,Acute Stress
2,1,1,1,4,1,1,6,0,0,0,0,0,1,Acute Stress
3,1,1,2,1,3,2,6,1,1,1,1,0,1,Acute Stress
4,0,1,2,3,5,1,9,0,0,1,1,1,1,Acute Stress

In [8]:
data['stress_level']=data['stress_level'].replace({'Acute Stress':0,
'Episodic acute stress':1,
'Chronic stress': 2})

In [9]:
y = data['stress_level']
X = data.drop("stress_level",axis=1)

In [10]:
data['stress_level'].unique()

array([0, 1, 2])

In [11]:
X

,Gender,financial_issues,family_issues,study_hours,health_issues,friends_issues,friends_time,overload,unpleasant,academic,career,criticism,conflicts
0,1,0,1,0,1,1,3,0,0,1,0,0,0
1,1,2,1,1,1,1,1,1,1,1,0,0,0
2,1,1,1,4,1,1,6,0,0,0,0,0,1
3,1,1,2,1,3,2,6,1,1,1,1,0,1
4,0,1,2,3,5,1,9,0,0,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
197,0,2,2,4,3,2,4,1,1,1,0,1,0
198,0,2,3,3,4,2,3,0,1,1,0,1,1
199,0,1,2,3,2,1,3,1,1,0,0,0,0
200,0,1,2,2,2,1,3,1,0,1,1,0,0
201,1,1,1,3,1,1,3,1,1,0,0,0,0

In [12]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: stress_level, dtype: int64

In [13]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

In [14]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2)

In [15]:
clf = RandomForestClassifier()
clf.fit(X_train,y_train)

RandomForestClassifier()

In [16]:
y_pred = clf.predict(X_test)

In [17]:
print("Accuracy: ",metrics.accuracy_score(y_test,y_pred))

Accuracy:  0.7804878048780488

In [18]:
import pickle 
pickle.dump(clf,open('model.pkl','wb'))